
* {
    margin: 0;
    box-sizing: border-box;
}

$cd-primary:#579c87;
$cd-gradient-menu2-valeur1:#c77412;
$cd-gradient-menu2-valeur2:#905bfd;
$cd-gradient-menu3-valeur1:#0431df;
$cd-gradient-menu3-valeur2:#0887fb;
$cd-gradient-menu4-valeur1:#3d9339;
$cd-gradient-menu4-valeur2:#bfff7e;
$cd-text:#fdcb46;
$title:1.5rem;
$cd-menu1:#3c1218;
$cd-menu2-a:#c77412;
$cd-menu2-b:#a56799;
$cd-menu2-c:#6E4CCC;
$cd-menu-global:#2c2c2c;
$menu1:#fcdfdb;
$menu2:#fff5fe;
$menu3:#edefef;
$menu4:#fdfffd;
$font-size: (menu1:2rem, menu2:1.6rem, menu3:2rem, menu4:2rem);



header.generique {
    width: 100%;
    background-color:$cd-primary;
    font-family: 'Roboto', sans-serif;
    color: $cd-text;
    text-align: center;
    font-size: $title;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* mise en forme du contenu*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    /*tablette*/
    @media screen and (min-width:570px) and (max-width:768px) {
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*ecran*/
    @media screen and (min-width:768px) {
        max-width: 980px;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/*mise en forme des menus individuellement*/

@mixin menu-form {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin: 4%;
    box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.2);
    text-align: center;

    /*tablette*/
    @media screen and (min-width:570px) and (max-width:768px) {
        width: 40%;
        height: 400px;
    }

    /*écran*/
    @media screen and (min-width:768px) {
        width: 40%;
        height: 500px;
    }

}

a {
    text-decoration: none;
    color: $cd-text;
}


.fas.mini-menu {
    font-size: 3.5rem;
    padding-right: 13%;
    background: -webkit-gradient(linear, left top, left bottom, from(#f04a5e), to(#f78f6a));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        /*tablette et écran*/
        @media screen and (min-width:570px) {
        padding: 0;
        }
}

.grossi {
    transform: scale(1);
    transition: transform 400ms;
    opacity: 1;
}

#note_icon {
    display: flex;
    align-items: center;

    /*tablette et écran*/
    @media screen and (min-width:570px) {
        flex-direction: column;
    }
}

.menu {
    @include menu-form;

    &:hover .grossi {
        transform: scale(1.2);
        opacity: 0.5
    }

    &.menu__one {
        background-color: $menu1;

        h2 {
            font-family: 'Devonshire', cursive;
            font-size: map-get($font-size, menu1);
            color: $cd-menu1;
            font-weight: 300;
        }

        p {
            font-family: 'Sriracha', cursive;
            font-size: 2rem;
            color: $cd-menu1;
            text-transform: uppercase;
            line-height: 2rem;

            /*tablette et écran*/
            @media screen and (min-width:570px) {
                padding-top: 15%;
            }

        }
    }

    &.menu__two {
        background-color: $menu2;

        h2 {
            font-family: 'Croissant One', cursive;
            font-size: map-get($font-size, menu2);
            background: -webkit-gradient(linear, left top, right bottom, from($cd-gradient-menu2-valeur1), to($cd-gradient-menu2-valeur2));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            font-family: 'Noto Serif', serif;
            font-size: 2rem;
            color: $cd-gradient-menu2-valeur1;
            padding-top: 3%;

        }
    }

    &.menu__three {
        background-color: $menu3;

        h2 {
            font-family: 'Dancing Script', cursive;
            font-size: map-get($font-size, menu3);
            background: -webkit-gradient(linear, left top, right bottom, from($cd-gradient-menu3-valeur1), to($cd-gradient-menu3-valeur2));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            font-family: 'Kalam', cursive;
            font-size: 2rem;
            color: $cd-gradient-menu3-valeur1;
            padding-top: 3%;

        }
    }

    &.menu__four {
        background-color: $menu4;

        h2 {
            font-family: 'Kaushan Script', cursive;
            font-size: 2rem;
            background: -webkit-gradient(linear, left top, right bottom, from($cd-gradient-menu4-valeur1), to($cd-gradient-menu4-valeur2));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            font-family: 'Kalam', cursive;
            font-size: map-get($font-size, menu4);
            color: $cd-gradient-menu4-valeur1;
            padding-top: 3%;

        }
    }
}


/* animation prochainement */

$cd-dot: #15DEA5;
$size-dot: 2.5vh;
$size-dot-mobile: 1.5vh;
$anim-dur: 1000ms;
$num-dot : 3;
$anim-delay: $anim-dur / $num-dot;


#prochainement {
    width: 50%;
    margin: 6% 0 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $cd-primary;
    color: $cd-text;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 2% 3% 2% 3%;
    color: $cd-text;

    /*tablette*/
    @media screen and (min-width:570px) and (max-width:768px) {
        width: 50%;
        flex-direction: row;
        justify-content: space-around;
        // font-size: 1.5rem;
        padding: 1% 1% 1% 1%;
    }

    /*écran*/
    @media screen and (min-width:768px) {
        flex-direction: row;
        justify-content: space-around;
        width: 40%;
        font-size: 1.8rem;
        padding: 1% 1% 1% 1%;
    }

}


/*loader*/
.load {
    width: $size-dot-mobile*5;
    height: $size-dot-mobile;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    /*tablette et écran*/
    @media screen and (min-width:570px){
        width: $size-dot*5;
        height: $size-dot;
        margin-top: 0%;
    }

    &__dot {
        background-color: #15DEA5;
        height: 100%;
        width: $size-dot-mobile;
        border-radius: 15px;
        animation: dot $anim-dur backwards infinite;
        animation-direction: alternate;
        /*tablette et écran*/
        @media screen and (min-width:570px){
            width: $size-dot;
        }

        @for $i from 1 through $num-dot {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
    }
}

@keyframes dot {
    0% {
        transform: scaleY(0.5) scaleX(0.5);
        transform-origin: center;
    }

    100% {
        transform: scaleY(1) scaleX(1);
        transform-origin: center;
    }
}

/* mise en forme du footer*/

$shake-intensity: 2%;

@keyframes headshake {
    25% {
        // entièrement à droite
        transform: translateX($shake-intensity);
    }

    75% {
        // entièrement à gauche
        transform: translateX(-$shake-intensity);
    }
}

footer {
    position: sticky;
    bottom: 0;
    margin-top: 5%;
    width: 100%;
    height: 10%;
    background-color: $cd-primary;
    color: $cd-text;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;

    /*tablette et ecran*/
    @media screen and (min-width:570px) {
        height: 6%;
    }

    & div {
        width: 100%;
        margin: 2% 0% 2% 0%;
        /*tablette et ecran*/
        @media screen and (min-width:570px) {
        padding-left: 2%;
        padding-right: 2%;    
        }

        & #btn-mention:hover {
            animation: headshake 100ms;
        }

        & #btn-contact:hover {
            animation: headshake 100ms;
        }

        /*tablette et ecran*/
        @media screen and (min-width:570px) {
            & #btn-contact {
                text-align: right;
            }
        }
    }
}

#content {
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    /*tablette et ecran*/
    @media screen and (min-width:570px) {
        flex-direction: row;
        text-align: left;
    }
}