section {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.intro {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: $cd-menu-global;
    font-size: 2rem;
    margin: 5% 0 3% 0;
}
/*mise en forme generale du menu*/
.parti_menu {
    flex-direction: column;
    box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.2);
    margin: 4% 4% 4% 4%;


    @include tablette_ecran {
        margin: 4% 4% 4% 4%;
    }

    @include ecran {
        margin: auto;
        margin-top: 4%;
        max-width: 980px;
    }
    &--note{
        font-family: 'Sriracha', cursive;
        background-color: $menu1;
        color: $cd-menu1;
    }

    &--chic {
        font-family: 'Noto serif', cursive;
        color: $cd-gradient-menu2-valeur1;
        background-color: $menu2;
    }

    &--delice {
        font-family: 'Sriracha', cursive;
        color: $cd-menu-global;
        background-color: $menu3;
    }

    &--palette {
        font-family: 'Sriracha', cursive;
        color: $cd-menu-global;
        background-color: $menu4;
    }

    &--note h2 {
        font-family: 'Devonshire', cursive;
        font-size: 3rem;
        font-weight: 100;
        color: $cd-menu1;

        @include tablette {
            font-size: 3.5rem;
        }

        @include ecran {
            font-size: 4rem;
        }
    }

    &--chic h2 {
        font-family: 'Croissant One', cursive;
        background: -webkit-gradient(linear, left top, right bottom, from($cd-gradient-menu2-valeur1), to($cd-gradient-menu2-valeur2));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 2.3rem;

        @include tablette {
            font-size: 2.5rem;
        }

        @include ecran {
            font-size: 3rem;
        }
    }

    &--delice h2 {
        font-family: 'Dancing Script', cursive;
        background: -webkit-gradient(linear, left top, right bottom, from($cd-gradient-menu3-valeur1), to($cd-gradient-menu3-valeur2));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.3rem;

        @include tablette {
            font-size: 3rem;
        }

        @include ecran {
            font-size: 5rem;
        }
    }

    &--palette h2 {
        font-family: 'Kaushan Script', cursive;
        background: -webkit-gradient(linear, left top, right bottom, from($cd-gradient-menu4-valeur1), to($cd-gradient-menu4-valeur2));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.3rem;

        @include tablette {
            font-size: 3rem;
        }

        @include ecran {
            font-size: 5rem;
        }
    }




    /*gestion footer menu note enchantée*/

    footer {
        background-color: $menu1;
        position: inherit;
        justify-content: center;
        align-items: center;
        margin: 0 0 5% 0;

        h2 {
            font-size: 3rem;

            @include tablette {
                font-size: 3rem;
            }

            @include ecran {
                font-size: 4rem;
            }
        }

        .fas {
            font-size: 3rem;
            line-height: 1.5;
            margin-right: 4%;
            background: -webkit-gradient(linear, left top, left bottom, from(#f04a5e), to(#f78f6a));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @include tablette {
                margin-right: 3%;
            }

            @include ecran {
                font-size: 4rem;
                margin-right: 2%;
            }
        }
    }
}



.nom_menu {
    text-align: center;

    &--note {
        margin-top: 5%;
        margin-bottom: 2%;
    }

    &--chic {
        margin-top: 10%;
        margin-bottom: 5%;
    }

    &--delice,
    &--palette{
        margin-top: 9%;
        margin-bottom: 5%;
    }


    /*note de musique*/
    .fas {
        padding: 0;
        font-size: 4rem;
        background: -webkit-gradient(linear, left top, left bottom, from(#f04a5e), to(#f78f6a));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include tablette {
            font-size: 5rem;
        }

        @include ecran {
            font-size: 7rem;
        }
    }
}





.formule {
    width: 100%;
    padding: 7% 3% 3% 3%;
    /* gestion des 3 paragraphes avec 3 couleurs différentes du menu chic à la francaise*/
    &--entree {
        color: $cd-menu2-a;
    }

    &--plats {
        color: $cd-menu2-b;
    }

    &--dessert {
        color: $cd-menu2-c;
    }
}

/* titre entree - plat - dessert */
.categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 5%;

    &--note .filet_droit,
    &--delice .filet_droit,
    &--chic .filet_droit,
    &--palette .filet_droit {
        transform: scaleX(-1);
    }

    h3 {
        text-align: center;
        font-size: 1.6rem;
        line-height: 2rem;
        transform: scaleX(1);

        &:hover::after {
            transform: scaleX(1);
        }

        &::after {
            content: "";
            display: block;
            border-bottom: solid 3px;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 1000ms ease-in-out;
            width: 100%;
            height: 3px;
            margin-bottom: 0px;
        }
    }

    &--note h3 {
        font-size: 1.6rem;

        @include tablette {
            font-size: 1.8rem;
        }

        @include ecran {
            font-size: 2rem;
        }
    }

    &--chic h3 {
        font-size: 1.3rem;
        line-height: 1.3rem;

        @include tablette {
            font-size: 1.4rem;
        }

        @include ecran {
            font-size: 1.6rem;
        }
    }

    &--delice h3 {
        font-size: 1.3rem;
        line-height: 1.3rem;

        @include tablette {
            font-size: 1.6rem;
            line-height: 2rem;
        }

        @include ecran {
            font-size: 2rem;
            line-height: 2rem;

        }
    }

    &--palette h3 {
        font-size: 1.3rem;
        line-height: 1.3rem;

        @include tablette {
            font-size: 1.6rem;
            line-height: 2rem;
        }

        @include ecran {
            font-size: 2rem;
            line-height: 2rem;

        }
    }
    /* inclusion du filet menu Note enchantée*/
    &--note .filet,
    &--note .filet_droit {
        background-color:$cd-menu1;
        -webkit-mask: url(./images/filet1.svg)  ;
        mask: url(./images/filet1.svg) ;
        display: flex;
        -webkit-mask-size: 100%;
        mask-size: 100%;
        mask-position: center;
        -webkit-mask-position: center; 
        mask-repeat: no-repeat;
        -webkit-mask-repeat:no-repeat;
        width: 25%;

        @include tablette_ecran {
            width: 35%;
        }
    }
    
    /* inclusion du filet menu Chic à la française*/

    &--chic .filet,
    &--chic .filet_droit {
        -webkit-mask: url(./images/filet2.svg) ;
        mask: url(./images/filet2.svg) ;
        -webkit-mask-size: 100%;
        mask-size: 100%;
        mask-position: center;
        -webkit-mask-position: center; 
        mask-repeat: no-repeat;
        -webkit-mask-repeat:no-repeat;
        display: flex;
        width: 25%;
    }

    &--chic .filet1,
    &--chic .filet_droit1{
        background-color:$cd-menu2-a;
    }

    &--chic .filet2,
    &--chic .filet_droit2{
        background-color:$cd-menu2-b;
    }

    &--chic .filet3,
    &--chic .filet_droit3{
        background-color:$cd-menu2-c;
    }

     /* inclusion du filet menu Delice des papilles*/


    &--delice .filet,
    &--delice .filet_droit {
        -webkit-mask: url(./images/filet3.svg) ;
        mask: url(./images/filet3.svg) ;
        -webkit-mask-size: 100%;
        mask-size: 100%;  
        mask-position: center;
        -webkit-mask-position: center; 
        mask-repeat: no-repeat;
        -webkit-mask-repeat:no-repeat;      
        display: flex;
        width: 35%;

        @include tablette_ecran {
            width: 30%;
        }
    }

    &--delice .filet1,
    &--delice .filet_droit1{
        background-color:$cd-menu3-a;
    }

    &--delice .filet2,
    &--delice .filet_droit2{
        background-color:$cd-menu3-b;
    }

    &--delice .filet3,
    &--delice .filet_droit3{
        background-color:$cd-menu3-c;
    }

     /* inclusion du filet menu Palette du gout */

    &--palette .filet,
    &--palette .filet_droit {
        // background-color: -webkit-gradient(linear, left top, right bottom, from($cd-gradient-menu4-valeur1), to($cd-gradient-menu4-valeur2));
        background:linear-gradient(90deg,$cd-gradient-menu4-valeur1, $cd-gradient-menu4-valeur2);
        -webkit-mask: url(./images/filet4.svg) ;
        mask: url(./images/filet4.svg) ;
        display: flex;
        -webkit-mask-size: 100%;
        mask-size: 100%;
        mask-position: center;
        -webkit-mask-position: center; 
        mask-repeat: no-repeat;
        -webkit-mask-repeat:no-repeat;
        width: 25%;
        background-color: $cd-gradient-menu4-valeur2;

        @include tablette_ecran {
            width: 30%;
        }
    }


}

/*contenu du menu*/

.detail_menu {
    width: 100%;

    .ligne {
        width: 100%;
        display: block;
        margin-bottom: 40px;
        padding-left: 4%;
        padding-right: 4%;

        @include tablette_ecran {
            display: flex;
            justify-content: space-between;
        }
    }

    &--note p {
        margin-bottom: 3%;
        font-size: 1.2rem;
        line-height: 1.2rem;

        @include tablette_ecran {
            font-size: 1.3rem;
        }
    }

    &--chic p {
        font-size: 1rem;

        @include tablette {
            font-size: 1.2rem;
        }

        @include ecran {
            font-size: 1.3rem;
        }

    }

    &--delice p {
        font-size: 1.2rem;

        @include tablette {
            font-size: 1.3rem;
        }

        @include ecran {
            font-size: 1.4rem;
        }

    }

    &--palette p {
        font-size: 1.2rem;

        @include tablette {
            font-size: 1.3rem;
        }

        @include ecran {
            font-size: 1.4rem;
        }

    }

    .plats {
        width: 100%;

        @include tablette {
            width: 75%;
        }
    }


}

.prix_mobile {
    display: flex;
    text-align: right;
    align-items: center;
}

/* pointillés visibles uniquement en version mobile */
.pointille {
    display: block;
    height: 15px;
    width: 100%;

    @include tablette_ecran {
        display: none;
    }

    &--note {
        border-bottom: 1px dashed $cd-menu1;
    }

    /*gestion des 3 differentes couleurs de paragraphe du menu Chic*/
    &--chic1 {
        border-bottom: 1px dashed $cd-menu2-a;
    }

    &--chic2 {
        border-bottom: 1px dashed $cd-menu2-b;
    }

    // &--chic3 {
    //     border-bottom: 1px dashed $cd-menu2-c;
    // }

    &--delice {
        border-bottom: 1px dashed $cd-menu-global;
    }

    &--palette {
        border-bottom: 1px dashed $cd-menu-global;
    }

}
