$cd-primary:#579c87;
$cd-gradient-menu2-valeur1:#c77412;
$cd-gradient-menu2-valeur2:#905bfd;
$cd-gradient-menu3-valeur1:#0431df;
$cd-gradient-menu3-valeur2:#0887fb;
$cd-gradient-menu4-valeur1:#3d9339;
$cd-gradient-menu4-valeur2:#bfff7e;
$cd-text:#fdcb46;
$title:1.5rem;
$cd-menu1:#3c1218;
$cd-menu2-a:#c77412;
$cd-menu2-b:#a56799;
$cd-menu2-c:#6E4CCC;
$cd-menu3-a:#0228dd;
$cd-menu3-b:#0670f3;
$cd-menu3-c:#229df9;
$cd-menu-global:#2c2c2c;
$menu1:#fcdfdb;
$menu2:#fff5fe;
$menu3:#edefef;
$menu4:#fdfffd;
$font-size: (menu1:2rem, menu2:1.6rem, menu3:2rem, menu4:2rem);
$shake-intensity: 2%;



$breakpoints: (
  tablette : 768px,
  mobile : 570px);

@mixin ecran {
  @media screen and (min-width : map-get($breakpoints, tablette)){
    @content
  }
}
@mixin tablette {
  @media screen and (min-width : map-get($breakpoints, mobile)) and (max-width : map-get($breakpoints, tablette )){
    @content
  }
}

@mixin tablette_ecran {
  @media screen and (min-width : map-get($breakpoints, mobile)){
    @content
  }
}